@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
.work-sans {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* Shared Styles */
.fw{
    max-width: 1440px;
    margin: 0 auto;
}
.section-title{
    font-size: 45px;
    font-weight: 700;
}
.display-flex{
    display: flex;
}
.text-center{
    text-align: center;
}
.primary-bg{
    background-color: rgba(255, 144, 14, 0.1);
}
main > section {
    margin-top: 130px;
}
.dark-1{
    color: #131313;
}
.dark-2{
    color: #424242;
}
.dark-3{
    columns: #727272;
}
.dark-4{
    color: #A1A1A1;
}
.dark-5{
    color: #D0D0D0;
}
.primary-btn{
    width: 180px;
    height: 64px;
    border: 0;
    border-radius: 10px;
    background-color: #FF900E;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 500;
    padding: 20px 25px;
}

/* Navbar Styles */
.nav{
    justify-content: space-between;
    align-items: center;
}
.brand{
    font-size: 45px;
    font-weight: 700;
}
.nav-items{
    gap: 50px;
}
.nav-item{
    list-style: none; 
}
.nav-link{
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
}

/* Banner Styles */
.banner-content{
    max-width: 868px;
    margin: 0 auto;
}
.banner-title{
    font-size: 64px;
    font-weight: 700;
}
.banner-description{
    margin-top: 30px;
}
.banner-content button{
    margin-top: 30px;
}
.banner-img{
    margin-top: 50px;
    padding-bottom: 50px;
}
.banner-img img{
    width: 100%;
}

/* Teams Styles */
.teams{
    align-items: center;
    gap: 70px;
}
.teams-img{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
}
.teams-img img{
    width: 100%;
}
.our-features{
    max-width: 530px;
}
#quick-list{
    font-weight: 400;
}
#features{
    color: #FF900E;
}
.features-description{
    font-size: 16px;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 30px;
}

/* Features Styles */
.features{
    gap: 140px;
}
.features > div{
    width: 50%;
}
.feature-title{
    border-left: 5px solid #FF900E;
    padding-left: 20px;
    font-size: 45px;
    font-weight: 700;
}
.feature-des{
    max-width: 530px;
}
.feature-cards{
    margin-top: 30px;
}
.feature-card{
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    background-color: rgba(255, 255, 255, 1);
    margin-bottom: 20px;
}
.feature-card .card-title{
    font-size: 20px;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 10px;
}
.feature-card .card-des{
    font-size: 16px;
    font-weight: 400;
    margin-top: 0;
}
.feature-girl img{
    width: 100%;
}
.img-btn{
    background-color: #FF900E;
    border: 0;
    border-radius: 8px;
    padding: 20px;
    max-width: 342px;
    height: 200px;
    margin-left: -100px;
    margin-top: -90px;
}
#years10{
    color: rgba(255, 255, 255, 1);
    font-size: 64px;
    font-weight: 700;
}
#exp{
    color: rgba(255, 255, 255, 1);
    font-size: 20px;
    font-weight: 400;
}

/* Some Facts Styles */
.some-facts .section-title{
    margin-bottom: 0px;
}
.facts-description{
    max-width: 530px;
}
.facts-container{
    margin-top: 50px;
    justify-content: space-around;
}
.fact-card{
    width: 240px;
    height: 240px;
    border: 2px solid #FF900E;
    border-radius: 10px;
    margin: 0 auto;

    justify-content: center;
    align-items: center;
}
.fact-number, .fact-name{
    margin: 10px 0px 10px 0px;
}
.fact-number{
    font-size: 45px;
    font-weight: 700;
    color: #424242;
}
.fact-name{
    font-size: 18px;
    font-weight: 600;
    color: #727272;
}

/* Our Sponsors Styles */
.sponsor-description{
    font-size: 16px;
    font-weight: 400;
    max-width: 530px;
    margin: 0 auto;
}
.sponsors-img{
    margin-top: 80px;
    justify-content: space-around;
    align-items: center;
}
.sponsors-img img{
    filter: grayscale(100%);
}

/* Footer Styles */
.footer{
    margin-top: 100px;
    border-radius: 8px;
    background-color: rgba(255, 244, 231, 1);
    height: 100px;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}







/* Mobile Device Responsive */
@media screen and (max-width: 576px) {
    .nav, .teams, .facts-container, .sponsors-img, .features{
        flex-direction: column;
        gap: 50px;
    }
    .nav-items{
        flex-direction: column;
        gap: 20px;
    }
    .nav .brand{
        margin-bottom: 0;
    }
    .teams-img{
        grid-template-columns: repeat(1, 1fr);
    }
    .our-features, .some-facts, .our-sponsors, .features{
        text-align: center;
    }
    .features > div{
        width: auto;
    }
    .feature-title{
        border-left: 0;
        padding-left: 0;
    }
    .img-btn{
        margin-top: -80px;
        margin-left: 0;
        height: 150px;
    }
    .feature-card{
        width: 80%;
        margin: 0 auto;
    }
    .feature-card{
        text-align: left;
    }
}





/* Medium Device Responsive */
@media screen and (min-width: 577px) and (max-width: 992px) {
    .nav, .teams, .features{
        flex-direction: column;
    }
    .teams-img, .facts-container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 50px;
    }
    .our-features, .some-facts, .features{
        text-align: center;
    }
    .some-facts > p, .feature-card{
        text-align: center;
        margin: 0 auto;
        margin-top: 16px;
    }
    .feature-card{
        text-align: left;
    }
    .feature-title{
        border: 0;
        padding: 0;
    }
    .feature-des{
        text-align: center;
        margin: 0 auto;
    }
    .sponsors-img{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 50px;
    }
    .features > div{
        width: 100%;
    }
    .img-btn{
        margin-top: -80px;
        margin-left: 0;
        height: 150px;
    }
}