@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
.work-sans {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* Shared Styles */
.fw{
    max-width: 1440px;
    margin: 0 auto;
}
.display-flex{
    display: flex;
}
.text-center{
    text-align: center;
}
.primary-bg{
    background-color: rgba(255, 144, 14, 0.1);
}
.dark-1{
    color: #131313;
}
.dark-2{
    color: #424242;
}
.dark-3{
    columns: #727272;
}
.dark-4{
    color: #A1A1A1;
}
.dark-5{
    color: #D0D0D0;
}
.primary-btn{
    width: 180px;
    height: 64px;
    border: 0;
    border-radius: 10px;
    background-color: #FF900E;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 500;
    padding: 20px 25px;
}

/* Navbar Styles */
.nav{
    justify-content: space-between;
    align-items: center;
}
.brand{
    font-size: 45px;
    font-weight: 700;
}
.nav-items{
    gap: 50px;
}
.nav-item{
    list-style: none; 
}
.nav-link{
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
}

/* Banner Styles */
.banner-content{
    max-width: 868px;
    margin: 0 auto;
}
.banner-title{
    font-size: 64px;
    font-weight: 700;
}
.banner-description{
    margin-top: 30px;
}
.banner-content button{
    margin-top: 30px;
}
.banner-img{
    margin-top: 50px;
    padding-bottom: 50px;
}
.banner-img img{
    width: 100%;
}



/* Mobile Device Responsive */
@media screen and (max-width: 576px) {
    .nav, .nav-items{
        flex-direction: column;
        gap: 20px;
    }
    .nav .brand{
        margin-bottom: 0;
    }
}